Options +FollowSymlinks
RewriteEngine on
RewriteRule ^account/register$      /index.php?target=register [L]
RewriteRule ^account/login$         /index.php?target=login [L]
RewriteRule ^account/login?(.*+)$   /index.php?target=login&$1 [L]
RewriteRule ^account/logout$        /index.php?target=logout [L]
RewriteRule ^account/me$            /index.php?target=me [L]
RewriteRule ^play$                  /index.php?target=play [L]
RewriteRule ^members$               /index.php?target=members [L]
RewriteRule ^members-(.*+)$         /index.php?target=members&page=$1 [L]

RewriteRule ^public/picture/(.*+)$         /Model/images/$1 [L]
RewriteRule ^public/stylesheet/(.*+)$  /styles/$1 [L]
RewriteRule ^public/script/(.*+)$  /Controller/scripts/$1 [L]

ErrorDocument 400 /Controller/error.php
ErrorDocument 401 /Controller/error.php
ErrorDocument 403 /Controller/error.php
ErrorDocument 404 /Controller/error.php
ErrorDocument 500 /Controller/error.php