ErrorDocument 400 /Controller/error.php
ErrorDocument 401 /Controller/error.php
ErrorDocument 403 /Controller/error.php
ErrorDocument 404 /Controller/error.php
ErrorDocument 500 /Controller/error.php