<FilesMatch "^scripts\/.*\.js$">
Order allow,deny
Allow from all
</FilesMatch>

<FilesMatch "^.*\.php$">
Order allow,deny
Deny from all
</FilesMatch>

<FilesMatch "error.php">
Order allow,deny
Allow from all
</FilesMatch>