{% block navbar %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h2>Puissance 4</h2>

        {% if isConnected %}
            <div class="icon lazyloaderFa">
            {% if currentPage == 'play' %}
                <a href="#" class="actual"><div class="iconi"><i class="far fa-circle"></i></div>
                <p class="navtxt">Jouer</p></a>
            {% else %}
                <a href="/play"><div class="iconi"><i class="far fa-circle"></i></div>
                <p class="navtxt">Jouer</p></a>
            {% endif %}
            </div>
            <div class="icon lazyloaderFa">
            {% if currentPage == 'me' %}
                <a href="#" class="actual"><div class="iconi"><i class="far fa-user-circle"></i></div>
                <p class="navtxt">Mon profil</p></a>
            {% else %}
                <a href="/account/me"><div class="iconi"><i class="far fa-user-circle"></i></div>
                <p class="navtxt">Mon profil</p></a>
            {% endif %}
            </div>
            <div class="icon lazyloaderFa">
            {% if currentPage == 'members' %}
                <a href="#" class="actual"><div class="iconi"><i class="fas fa-coffee"></i></div>
                <p class="navtxt">Membres</p></a>
            {% else %}
                <a href="/members"><div class="iconi"><i class="fas fa-coffee"></i></div>
                <p class="navtxt">Membres</p></a>
            {% endif %}
            </div>
            <div class="icon lazyloaderFa">
                <a href="/account/logout"><div class="iconi"><i class="fas fa-sign-out-alt"></i></div>
                <p class="navtxt">Déconnexion</p></a>
            </div>
        {% else %}
            <div class="icon lazyloaderFa">
            {% if currentPage == 'play' %}
                <a href="#" class="actual"><div class="iconi"><i class="far fa-circle"></i></div>
                <p class="navtxt">Jouer</p></a>
            {% else %}
                <a href="/play"><div class="iconi"><i class="far fa-circle"></i></div>
                <p class="navtxt">Jouer</p></a>
            {% endif %}
            </div>
            <div class="icon lazyloaderFa">
            {% if currentPage == 'login' %}
                <a href="#" class="actual"><div class="iconi"><i class="fas fa-key"></i></div>
                <p class="navtxt">Se connecter</p></a>
            {% else %}
                <a href="/account/login"><div class="iconi"><i class="fas fa-key"></i></div>
                <p class="navtxt">Se connecter</p></a>
            {% endif %}
            </div>
            <div class="icon lazyloaderFa">
            {% if currentPage == 'register' %}
                <a href="#" class="actual"><div class="iconi"><i class="fas fa-door-open"></i></div>
                <p class="navtxt">S'enregistrer</p></a>
            {% else %}
                <a href="/account/register"><div class="iconi"><i class="fas fa-door-open"></i></div>
                <p class="navtxt">S'enregistrer</p></a>
            {% endif %}
            </div>
        {% endif %}
    </div>

    <div id="panel" style="opacity: 0;">
        <span onclick="openNav()">&#9776; Menu</span>
    </div>
{% endblock %}